__pycache__/
.pytest_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
/local-data/
/docker/bitbucket/data/
/docker/postgres/data/
/site/
/docs/.venv/
/.tmp/*
!/.tmp/.gitkeep
# Generated Windows PE resource files (created by go-winres during CI builds)
cmd/bb/rsrc_windows_*.syso
